.users_main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
}
.pages_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}