.main {
    display: flex;
    flex-direction: row;
}
.profile_info {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
.Newpost_block {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 10px;
}
.button_post {
    border-radius: 5px;
    height: 40px;
    color: red;
}
.button_area{
    padding-left: 10px;
}
.post_area {
    resize: none;
}