
.userspage_main {
    display: flex;
    padding: 10px;
    justify-content: center;
}
.userspage_container {
    display: flex;
}
.users_block {
    display: flex;
    padding-top: 30px;
}
.user_item {
    display: flex;
    padding: 100px;

}
.user_container {
    display: grid;
    column-gap: 30px;
    row-gap: 50px;
    grid-template-columns: repeat(auto-fit,minmax(25%,300px));
    border: gold solid;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    color: black;
}

.avablock {
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
}
.ava_item {
    display: flex;
    padding: 10px;
    font-size: 15px;
}

.user_avatar {
    width: 100px;
    padding-bottom: 10px;
}
.users_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.user_body {
    display: grid;
    text-align: center;
    font-size: 15px;
}
.item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    flex-wrap: wrap;
}
