
.userspage_main {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.userspage_container {
    display: flex;
}
.users_block {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;

}
.user_item {
    display: flex;
    padding: 100px;
    max-width: 100px;

}
.user_container {
    display: grid;
    column-gap: 30px;
    row-gap: 50px;
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    border: gold solid;
    flex-wrap: wrap;
    flex-direction: column;
}

.avablock {
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
}
.ava_item {
    display: flex;
    padding: 10px;
    font-size: 15px;
}

.user_avatar {
    width: 100px;
    padding-bottom: 10px;
}
.users_list {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(40px,auto) / 1fr;
}
.user_body {
    display: grid;
    text-align: center;
    font-size: 15px;
}
.item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    color: azure;
    flex-wrap: wrap;
}
