
.posts_block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
}

.post_item {
    display: flex;
    flex-direction: row;

}
.post_ava {
    width: 30px;
    padding-right: 15px;
    padding-left: 5px;
}
.like_area {
    padding-left: 10px;
}