.pages_block {
    display: flex;
    padding: 15px 10px 10px 100px;
}
.selectedPage {
    font-weight: bold ;
    border: black solid 1px;
}
.button {
    padding-left: 15px;
    padding-right: 15px;
}