.login_main {
    display: flex;
    flex-direction: column;
}
.login_block {
    display: flex;
    flex-direction: column;
    color: gold;
    width: 200px;
    height: 250px;
    align-items: center;
    padding: 150px 200px 100px 400px
}
.login_auth {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-right: 10px;
}
.login_chekbox {
    display: flex;
    padding-right: 30px;
}
.input_area {
    height: 30px;
    padding: 10px;
}
.input {
    width: 280px;
    height: 20px;
}
.formSummaryError {
    border: red 1px solid;
    color: black;
    font-size: 16px;
    display: flex;
    height: 30px;
    padding: 10px;
    width: 220px
}
