.wrapper {
    display: grid;
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer"
    ;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    overflow: hidden;
}

.wrapper_content {
    grid-area: main;
    background-color: lightslategray;
    font-family: Roboto;
    display: flex;
}
