
.area_buttons{
    padding-left: 20px;
}
.public_dialogs {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialogs_area {
    resize: none;
    background-color: lightblue;
    overflow: auto;
    border: gray solid 2px;
    border-radius: 2px;
}